/* 전체 레이아웃 */
body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

/* 아바타 박스 */
.avatar-container {
  background-color: white;
  padding: 100px 100px;
  border-radius: 10px;
}

/* 아바타 그리드 - 한 줄에 4개씩 정렬 */
.image-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 기본 4개씩 배치 */
  gap: 20px; /* 간격 */
  margin: 0 auto;
}

/* 아바타 개별 요소 */
.avatar {
  position: relative; /* 상태 표시 위치 조정 */
  width: 64px;
  height: 64px;
}

/* 프로필 이미지 스타일 */
.profile-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* 상태 표시 */
.status {
  position: absolute;
  bottom: 0px; /* 이미지 경계를 벗어나지 않도록 설정 */
  right: 0px; /* 프로필 이미지의 외곽선에 위치하도록 조정 */
  width: 17.78px;
  height: 17.78px;
  border-radius: 50%;
  border: 1px solid white;
}

/* 초록색 - 온라인 */
.online {
  background-color: #4cfe88;
}

/* 회색 - 오프라인 */
.offline {
  background-color: #dbdbdb;
}
